* {
  margin: 0;
  padding: 0;
}

.azeret-mono-primary {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Primary styles */
.color-1 {
  color: #0d1321;
}
.color-2 {
  background: rgba(255, 76, 30, 0.05);
}
.color-3 {
  background: rgba(0, 76, 232, 0.05);
}
.color-4 {
  background: rgba(255, 223, 0, 0.05);
}
.anchor {
  color: #0d1321;
}
.primary-btn-1 {
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #0d1321;
  opacity: 0.8;
  cursor: pointer;
  background-color: white;
  font-family: "Azeret Mono", serif;
}
.main-title {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
  text-align: center;
  margin-bottom: 24px;
}
.main-title-2 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
  color: #0d1321;
  text-align: start;
}
.main-para {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 48px;
}
.main-para-2 {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  color: #0d1321;
  text-align: start;
  margin-bottom: 24px;
}
.primary-btn-2 {
  padding: 12px 20px;
  color: rgba(13, 19, 33, 1);
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #0d1321;
  opacity: 0.7;
  background-color: white;
  font-family: "Azeret Mono", serif;
}
/* gradiant-1 */
.gradiant-1 {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.gradiant-2 {
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

/* nav style */
nav {
  margin: 32px 146px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  border-radius: 8px;
  padding: 15px 22px;
}
.logo {
  font-size: 28px;
  font-weight: 800;
}
nav h2 {
  line-height: 0;
}

/* hero section style */
.hero {
  height: 75vh;
  background-image: url(./assets/Hero-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero .image img {
  margin-bottom: 24px;
  width: 180px;
}
.hero h1 {
  font-size: 44px;
  font-weight: 800;
  line-height: 52px;
  margin-bottom: 20px;
}
.hero p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}
.hero-btn {
  padding: 18px 20px;
  font-family: "Azeret Mono", serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #0d1321;
  border-radius: 8px;
}

/* main style */

main {
  margin: 0 148px;
}
.explain {
  padding: 80px 97px;
  margin: 74px 0 90px 0;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
  text-align: center;
}

.explain h1 {
  margin-bottom: 24px;
}
.explain p {
  margin-bottom: 48px;
}
/* learnings style */

.learning {
  padding: 48px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.learning .image {
  width: 260px;
}
.learning .disc {
  width: 477px;
  text-align: start;
}
.disc .learn-title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
  margin-bottom: 16px;
}
.disc .learn-para {
  margin-bottom: 32px;
}
.middle {
  padding-right: 110px;
}

/* inspiration section style */
.inspiration {
  margin: 90px 0 151px 0;
}

.inspiration h1 {
  margin-bottom: 24px;
}
.inspiration p {
  margin-bottom: 48px;
}
.video {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}
iframe {
  border-radius: 16px;
}

/* my target style */
.my-target {
  margin-bottom: 111px;
}
.target-skills {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 40px;
  width: 284px;
  border-radius: 16px;
}
.skill img {
  margin-bottom: 24px;
}

/* next terget style */
